@use"./../../../../public/styles/colores.scss";
@use"./../../../../public/styles/tabla.scss";

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; // Asegura que el main ocupe toda la pantalla
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #a78651;
    font-family: Arial, Helvetica, sans-serif;
}

.header-title {
    font-size: 1.5em;
    color: #705824;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-links a {
    margin: 0 15px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.user-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.boton-agregar-fila {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.boton-resaltado {
    font-size: 24px;      
    width: 50px;          
    height: 50px;         
    border-radius: 50%;   
    background-color: #83541e;
    color: white;
    border: none;
    cursor: pointer;
}

.boton-resaltado:hover {
    background-color: #aa7448; 
}

.tabla-container {
    display: flex;
    justify-content: center;     // Centra horizontalmente
    align-items: center;         // Centra verticalmente
    height: 100vh;            // Asegura que ocupe al menos el 80% de la altura de la ventana
}

#tabla {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #7a4f17a1;   // Color de fondo del cuadro
    padding: 20px;
    border-radius: 8px;          // Bordes redondeados
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Sombra
    width: 90%;                  // Ajusta el ancho según lo necesario
    max-width: 800px;            // Limita el ancho máximo
    margin: auto;

    #header-tabla {
        display: grid;
        grid-template-columns: 50px 1fr 1fr 1fr;
        font-size: larger;
        font-weight: 700;
        background-color: #ececec;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .fila-tabla {
        display: grid;
        grid-template-columns: 50px 1fr 1fr 1fr;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        font-family: Arial, Helvetica, sans-serif;

        .acciones-container {
            display: flex;
            gap: 10px;
            justify-content: center;
            font-family: Arial, Helvetica, sans-serif;
        }
    }

    .disponible {
        color: rgb(249, 252, 249);
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .ocupado {
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
}

footer {
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
}

.logout-link {
    margin-left: 15px;
    color: rgb(72, 53, 243);
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    
    &:hover {
        color: #b5601c; // Cambia el color al pasar el cursor
    }
}
.boton-cobrar {
    background-color: #00c98d;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .boton-cobrar:hover {
    background-color: #007f64;
  }
  
  .boton-cobrar:focus {
    outline: none;
  }
  