@use "./../../../../public/styles/colores.scss";

#fondo {
  display: flex;
  background-image: url("./../../../../public/imagenes/habilitacion-playas-estacionamientos-garajes.jpg");
  background-size: cover;
  height: 100vh;
}

#titulo {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  h1 {
    color: rgba(255, 255, 255, 0.85);
    font-size: 48px;
    font-weight: 700;
    font-family: sans-serif;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #863f1f, #bd6f26);
  }
}

#ingreso {
  width: 40%;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 1.0);
  margin-right: 5%;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

input {
  margin-bottom: 15px;
  padding: 8px;
  font-size: 17px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.boton-resaltado {
  width: 100%;
  padding: 10px;
  font-size: 17px;
  background-color: rgb(133, 63, 6);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.boton-resaltado:hover {
  background-color: darken(rgb(133, 63, 6), 10%);
}

.registracion {
  margin-top: 15px;
  text-align: center;
  p {
    margin: 0;
  }
  button {
    margin-top: 5px;
    color: rgb(133, 63, 6);
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
}
