@use"./colores.scss";
.disponible{
    border: 2pxsolidgreen;
    border-radius: 7px; 
    background-color: colores.$color-correcto;
    font-weight: bolder;
    padding: 5px;
    align-items: center;
    justify-content: center;
    
}
.ocupado{
    border: 2pxsolidred;
    border-radius: 7px; 
    background-color: colores.$color-incorrecto;
    font-weight: bolder;
    padding: 5px;
    align-items: center;
    justify-content: center;
}
